<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>semantic-ui-vue</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.css" />
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/css/messenger.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/css/messenger-theme-air.css" />
   <link rel="icon" href="vue.ico">
</head>
<body>
  <header>
       <div class="ui container center aligned">
            <h1 id="titulo-header">Ejemplo de Semantic UI con Vue js</h1>
            <div class="ui orizontal divider header"></div>
       </div>
  </header>
  <main>
      <div class="ui grid" id="grid-1">
          <div class=" three wide column"></div>

          <div class="ten wide column">
            <form v-on:submit.prevent="agregarTarea">
                <div class="ui input">
                     <input type="text" name ="nuevaTarea" placeholder="Nueva Tarea" v-model.trim="nuevaTarea">
                     <button type="submit" class="ui button primary">
                         Agregar Nueva Tarea
                     </button>
                 </div>
            </form>

            <div v-if="formEditar">
               <form v-on:submit.prevent="editarTarea">
                  <div class="ui input">
                       <input type="text" name ="formEditar" v-model.trim="tareaEditada" >
                       <button type="submit" class="ui button primary">
                           Editar tarea
                       </button>
                   </div>
               </form>
               <button class="ui icon button" @click="removerform"><i class=" remove icon"></i></button>
            </div>

              <table class="ui celled striped table">
                  <thead>
                     <tr>
                        <th colspan="3">Tareas</th>
                     </tr>
                      <tbody>
                          <tr v-for="tarea in tareas">
                                <td><div class="ui checkbok"><input type="checkbox" @click="completarTarea(tarea)"></div></td>
                              <td :class="{completado: tarea.completado}">{{tarea.nombre}}</td>
                              <td><button @click="encontrarTarea(tarea)" class="ui icon primary button"><i class="edit icon"></i></button>
                              <button class="ui icon  button" @click ="eliminarTarea(tarea)"><i  class="trash outline icon"></i></button></td>
                          </tr>
                      </tbody>
                  </thead>
              </table>
          </div>

          <div class="three column"></div>
      </div>
  </main>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.js"></script>
   <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/js/messenger.min.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="js/index.js"></script>
</body>
</html>
